@font-face{
    font-family:'Poppins-Light';
    src:url("../fonts/fonts/Poppins-Light.ttf") format("truetype");
    font-display: swap;
}

body{
    background: #F3F4F8 /*Color del cuerpo de la pagina*/;
}

label, p, span, div, input, h1, h2, h3, h4, h5{
    font-family: 'Poppins-Light' !important;
}

.mobile-menu ul li.has-sub.actived>.submenu-toggle:after, .mobile-menu ul li.has-sub.actived>a {
    color: #ff3d00; /*color que se pone el icono de menu seleccionado responsivo*/
}

.mobile-menu ul li a, .mobile-menu ul li.has-sub .submenu-toggle {
    color: #ffffff; /*Colo de letra del menu responsivo*/
}

.menu-title:hover, .menu-title:hover:before, .menu li a:hover {
    background: #8db842; /*Color del hover del menu cuando se posiciona el mouse*/
}

.menu li a {
    color: white; /*Color de letra del menu*/
}

.menu-dropdown {
    background: #ebebeb;/*Color del listado del submenu*/
}

.menu-dropdown li a{
    color: red;
}

footer {
    background: #45523e; /*Color del banner fel footer*/
}

.content-item-category>strong {
    color: #fff;
    background-color: #45523e; /*Color de la categoria de la noticia*/
}

.article-content .title-article-content{
    color: #45523e; /*Color de la letra de los titulos  de las noticias en el homepage*/
}

.widget-area ul li{
    color: #fff; /*Color de la letra del footer*/
}

.button-noticia:hover {
    border: 1px solid #45523e;
}

.button-noticia{
    background-image: linear-gradient(to right, #45523e, #45523e 50%, rgba(0, 0, 0, 0) 50%);
}

