.about-me {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.about-me h1{
    padding-top: 10px;
}

.detail-about-me{
    margin-top: 20px;
}

.detail-about-me p:not(.text-center){
    text-align: justify;
}