.article{
    padding-left: 5px;
    padding-right: 5px;;
}

.article a{
    flex-direction: column;
}

.article-content-image{
    max-height: 196px;
}

.article-image:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.article-image{
    height: 196px;
}

.article-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 15px;
}

.article-content .title-article-content{
  font-size: 18px !important;
  text-align: center;
}

.article-content h4{
   padding: 0!important;
   margin: 0!important;
}


.article-content .date-title{
    color: black;
}

.pagination {
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.pagination > * {
    border-radius: 50%;
    min-width: 2.5rem;
}

.pagination a{
    background: #45523e;
    color: #FFFFFF !important;
}

.pagination a{
    position: relative;
    padding: 0.625rem 0;
    line-height: 1.5;
    text-decoration: none;
    background-color: #45523e;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
}

.pagination strong{
    position: relative;
    padding: 0.625rem 0;
    line-height: 1.5;
    color: #45523e;
    text-decoration: none;
    background-color: #fff;
    margin-right: 5px;
    font-size: 14px;
    min-width: 2.5rem;
    text-align: center;
}